.form {
    textarea {
        resize: none;
    }
    .avatar img {
        border-radius: 50%;
        object-fit: cover;
    }
    .invalid-feedback {
        bottom: 0;
        display: block;
        text-align: left;
        position: absolute;
        padding-left: 1em;
        strong {
            color: $red;
            font-weight: $regular;
            font-size: rem(11);
            font-family: $montserrat;
        }
    }
    &-group {
        margin: 0;
        padding-bottom: .8em;
        margin-bottom: .2em;
        position: relative;
    }
    &--post {
        textarea {
            width: 100%;
            border: none;
            padding: 1em;
            line-height: 1.4;
            @include placeholder($gray,rem(16),$opensans);
        }
        .avatar img {
            width: 3em;
            height: 3em;
            object-fit: cover;
        }
        .invalid-feedback {
            bottom: .5em;
            padding: 0;
        }
        .add-image {
            padding: .4em 1em;
        }
    }
    &--comment {
        textarea {
            width: 100%;
            border: none;
            padding: .5em 1em 0;
            @include placeholder($gray,rem(16),$opensans);
        }
        .avatar img {
            width: 2em;
            height: 2em;
            object-fit: cover;
        }
        .form-group {
            margin: 0;
        }
        .invalid-feedback {
            bottom: 1em;
            padding-left: 3em;
        }
    }
    .label-icon {
        top: 0.8rem;
        left: 1em;
        color: $gray;
        position: absolute;
    }
    &__input, &__textarea {
        margin: 0 auto;
        display: block;
        border-radius: 30px;
        padding: .7rem 1em;
        padding-left: 3.8em;
        width: 100%;
        border: 1px solid $border-color;
        @include placeholder($gray,rem(15),$opensans);
        &.is-invalid {
            border-color: $red !important;
        }
    }
    &__textarea {
        padding-top: 1em;
    }

    &.-blue {
        .form__input {
            border-color: $blue-op;
        }
    }
    &.-red {
        .form__input {
            border-color: $red-op;
        }
    }

    .setting {
        margin: 0 auto 3px;
        padding: 1em 0;
        width: 100%;
        @include mobile {
            padding-bottom: 0;
            .choose-file {
                display: none;
            }
            .delete span {
                display: none;
            }
            .delete {
                .fa-ban {
                    font-size:18px;
                }
            }
        }
        &.-no-pad {
            padding: 0;
            margin: 0;
        }
        .choose-file {
            &:hover {
                color: $green;
              }
        }

        a[data-action], .choose-file {
            cursor: pointer;
            color: #555;
            font-size: 14px;
            line-height: 24px;
            text-align: left;
            transition: color 0.2s;
            @include mobile {
                opacity: .6;
            }

            i {
                width: 1.25em;
                text-align: center;
            }
            &.disabled {
                opacity: 0.35;
                cursor: default;
                pointer-events: none;
                &:hover {
                    color: #555;
                }
            }
        }

        .post-foto {
            a.disabled {
                display: none;
            }
            a.remove {
                &:hover {
                    color: $red;
                  }
            } i {
                font-size: 20px;

            }
        }
      }


      .image_picker .settings_wrap {
        overflow: hidden;
        position: relative;
        .drop_target,
        .settings_actions {
            text-align: left;
        }

          .settings_actions {
            margin-top: 12px;
            &.vertical a {
                display: block;
                @include mobile {
                    &.disabled {
                        display: none;
                    }
                }
              }
          }

          .drop_target {
            position: relative;
            cursor: pointer;
            margin-right: 18px;
            background: hsl(0, 0%, 90%);
            border-radius: 50%;
            width: 72px;
            height: 72px;
            transition: all 0.2s;
            @include mobile {
                width: 95px;
                height: 95px;
                margin-left: 30%;
                margin-right: 5px;
            }
            input[type="file"] {
                visibility: hidden;
              }
            &:before {
                content: '\f030';
                font-family: FontAwesome;
                position: absolute;
                display: block;
                width: 100%;
                line-height: 60px;
                text-align: center;
                font-size: 28px;
                padding: 0.2em;
                color: rgba(0, 0, 0, 0.3);
                transition: color 0.2s;
                @include mobile {
                    line-height: 85px;
                }
            }
            &:hover,
            &.dropping {
              background: $green;
              border-top-color: $green;
            }
            &:hover:before,
            &.dropping:before {
              color: rgba(0, 0, 0, 0.6);
            }
            &.image-hidden {
                width: auto;
                height: auto;
                margin: 0;
                background: transparent;
                &::before {
                    content: "";
                    padding: 0;
                    height: 0;
                    display: none;
                }
                .image_preview[data-image="true"] {
                    width: 5em;
                    height: 5em;
                    border-radius: 0;
                    margin-bottom: 1em;
                    & + a.disabled {
                        display: block;
                        @include mobile {
                            display: none;
                        }
                    }
                }
            }
          }

          .image_preview {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: no-repeat center;
            background-size: cover;
            position: relative;
            z-index: 2;
          }
      }



    .pets {
        .control {
            margin: 2em 0;
        }
        input:checked + label {
            img {
                border-color: $red;
            }
        }
        @include mobile {
            justify-content: space-between;
        }
        .pet {
            width: 33%;
            cursor: pointer;
            margin-bottom: 1em;
            img {
                height: 8em;
                width: 8em;
                padding: 4px;
                border-radius: 50%;
                border: 4px solid transparent;
                @include mobile {
                    height: 7em;
                    width: 7em;
                }
            }
            font-size: rem(14);
            font-family: $montserrat;
            font-weight: $semi-bold;
        }
    }

}
