* {
    box-sizing: border-box;
}

html {
    font-size: $base-font-size;
    font-family: $opensans;
}

input, textarea, button {
    outline: 0;
    border: none;
}

@import 'text';
@import 'form';
@import 'section';
@import 'register';