.title {
    &--medium {
        color: $black;
        font-size: rem(15);
        font-weight: $semi-bold;
        font-family: $montserrat;
        text-transform: uppercase;
    }
    &--small {
        font-size: rem(14);
        color: $gray;
        font-weight: $semi-bold;
    }
}

.-mayus {
    text-transform: uppercase;
}

.link {
    &--back {
        color: $gray;
        font-size: rem(13);
        align-items: center;
        i {
            margin-right: .4em;
        }
    }
}
