.btn {
    border: none;
    background: transparent;
    &-border {
        display: inline-flex;
        border-radius: 10px;
        align-items: center;
        border: 1px solid #ddd;
        &:hover {
            border-color: $gray;
        }
        &.-white {
            background: white;
            font-size: 14px;
            font-weight: 600;
            padding: .3em .6em;
            i {
                font-size: rem(18);
            }
        }
    }
    &-icon {
        font-size: rem(14);
        font-weight: $bold;
        i {
            margin-right: .2em;
        }
    }
    &-round {
        font-size: rem(14);
        text-transform: uppercase;
        font-weight: $regular;
        border-radius: 30px;
        padding: .9em 1em;
        font-family: $montserrat;
        &.-small {
            padding: .5em 1em;
            text-transform: none;
        }
    }
    &-edit {     
        padding: 0.3em 0.6em;
        color: rgba(255,255,255,.6);
        border: none;
        font-size: rem(14);
        background: rgba(0,0,0,.6);
        i {
            margin-right: 5px;
        }
        &:hover {
            color: rgba(255,255,255,.8);
            background: rgba(0,0,0,.8);
        }
    }
    &.-red {
        color: $white;
        background: $red;
    }
    &.-blue {
        color: $white;
        background: $blue;
    }
    &.-green {
        color: $white;
        background: $green;
    }
    &.-large {
        width: 100%;
    }
}
