.d-flex {
    display: flex;
}

.flex {
    &-wrap {
        flex-wrap: wrap;
    }
    &-jc-center {
        justify-content: center;
    }
    &-jc-between {
        justify-content: space-between;
    }
    &-ai-center {
        align-items: center;
    }
    &-column {
        flex-direction: column;
    }
}
