.modal {
    &-content {
        .form {
            &-group {
                border-top: 1px solid $border-color;
                .pets__pet .pet {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .input, .textarea {
                display: block;
                border: none;
                padding: 1em 0;
                width: 100%;
            }
            label.margin-top {
                margin-top: 7em;
            }
        }
    }
    .post-thumbnail {
        width: 5em;
        height: 5em;
        object-fit: cover;
    }
    .thumbnail-preview {
        position: absolute;
        bottom: 138px;
        z-index: 2;
        left: 1em;
    }
    .remove-image {
        cursor: pointer;
        color: #555;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        padding: 0 0.2em;
        transition: color 0.2s;
        i {
            font-size: 20px;
            width: 1.25em;
            text-align: center;
        }
        &:hover {
            color: $red;
        }
    }
    &-title {
        display: flex;
        font-size: rem(14);
        font-weight: $bold;
        align-items: center;
        font-family: $opensans;
        i {
            color: $blue;
            font-size: rem(20);
            margin-right: .5em;
        }
    }
    &-header {
        justify-content: space-between;
    }

}
