.section {
    .tab {
        .tablinks {
            color: $red;
            font-weight: $bold;
            font-size: rem(14);
            text-transform: uppercase;
            font-family: $montserrat;
        }
    }
    &--main {
        .main-wrapper {
            margin-bottom: 2em;
            background: $white;
            border-radius: 5px;
            border: 1px solid $border-color;
            @include mobile {
                border-radius: 0;
                border: none;
            }
        }
        .w-pad {
            padding: 1em;
        }
        &.profile {
            width: 100%;
        }
    }

    &--posts {
        &.tabcontent {
            display: none;
        }
    }

    &--post-create {
        .post {
            &__title {
                display: flex;
                font-size: rem(14);
                font-weight: $bold;
                padding-top: .6em;
                padding-bottom: .6em;
                 align-items: center;
                 font-family: $opensans;
                i {
                    color: $blue;
                    font-size: rem(20);
                    margin-right: .5em;
                }
            }
        }
    }
}

.post-card {
    @include mobile {
        border-top: 1px solid $border-color !important;
        border-bottom: 1px solid $border-color !important;
    }
    &__user {
        .avatar {
            img {
                width: 3em;
                height: 3em;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
    &__user__info,
    .comment__user__info {
        margin-left: .5em;
        .owner {
            color: $black;
            font-weight: $bold;
            font-family: $montserrat;
        }
        .time {
            color: $gray;
            font-size: rem(13);
            font-weight: $regular;
            font-family: $montserrat;
        }
    }

    .comment {
        padding-left: 3em;
        &__p {
            margin-top: 1em;
            font-size: rem(14);
            font-weight: $bold;
            font-family: $opensans;
        }
    }

    &__edit {
        .dropdown {
            width: 25px;
        }
    }

    &__content {
        margin-bottom: -2px;
        img {
            width: 100%;
            object-fit: contain;
        }
        p {
            font-weight: $bold;
            font-family: $opensans;
            &.w-pad {
                padding-top: 0;
            }
        }
    }
    &__reactions {
        padding: .8em;
        .btn-reaction {
            width: 33.3%;
            color: $black;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            i {
                font-size: rem(20);
                margin-right: .2em;
            }
            span {
                font-size: rem(13);
                font-weight: $bold;
                font-family: $montserrat;
            }
            @include mobile {
                width: 25%;
                justify-content: flex-start;
                span {
                    display: none;
                }
                &:last-child {
                    margin-left: auto;
                    justify-content: flex-end;
                }
            }
        }
    }
}
