.sidebar {
    width: 22%;
    height: 100vh;
    position: fixed;
    background: $white;
    border-right: 1px solid $border-color;

    & > div {
        padding: 2em;
    }
    &__title {
        margin-bottom: 1em;
        font-weight: $bold;
        font-family: $opensans;
    }
    &__ul {
        li {
            padding: .5em 0;
        }
        a {
            color: $black;
            line-height: 1.4;
            i {
                margin-right: .5em;
            }
        }
    }
}

.aside {
    height: 5em;
    width: 20%;
    right: 3em;
    position: fixed;
    border-radius: 5px;
    @include mobile {
        order: 1;
        right: 0;
        width: 100%;
        border-radius: 0;
        border: none;
        position: relative;
        background: transparent;
    }
}
