.users {
    width: 100%;
    padding: 1em;
    &__user {
        width:25%;
        align-items:center;
        margin-bottom:1em;
        flex-direction: column;
        &__avatar {
            width: 5em;
            height: 5em;
            object-fit: cover;
            border-radius: 50%;
        }
        &__name {
            color: $black;
            text-align: center;
            font-family: $montserrat;
        }
        .btn-icon {
            i {
                margin: 0;
            }
            span {
                display: none;
            }
        }
    }

}
